<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880 -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="dbFexpoCruzEntities" connectionString="metadata=res://*/dbFexpoCruzModel.csdl|res://*/dbFexpoCruzModel.ssdl|res://*/dbFexpoCruzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-075TDMD;initial catalog=dbContactCenter;user id=nanet;password=nanet;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-075TDMD;AttachDbFilename=|DataDirectory|\aspnet-Backend-20180412024204.mdf;Initial Catalog=dbContactCenter;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="dbHomeBeautyConnectionString" connectionString="Data Source=DESKTOP-075TDMD;Initial Catalog=dbContactCenter;User ID=nanet;Password=nanet" providerName="System.Data.SqlClient" />-->
    
	  <!-- <add name="dbFexpoCruzEntities" connectionString="metadata=res://*/dbFexpoCruzModelP.csdl|res://*/dbFexpoCruzModelP.ssdl|res://*/dbFexpoCruzModelP.msl;provider=Npgsql;provider connection string=&quot;Host=localhost;Database=dbContactCenter;Username=postgres;Password=nanet&quot;" providerName="System.Data.EntityClient" /> -->
	  <!-- <add name="dbFexpoCruzEntities" connectionString="metadata=res://*/dbFexpoCruzModelP.csdl|res://*/dbFexpoCruzModelP.ssdl|res://*/dbFexpoCruzModelP.msl;provider=System.Data.SqlClient connection string=&quot;data source=DESKTOP-UL53AHL;initial catalog=dbContactCenter;user id=sa;password=admin1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
	  <add name="dbFexpoCruzEntities2" connectionString="metadata=res://*/dbFexpoCruzModel.csdl|res://*/dbFexpoCruzModel.ssdl|res://*/dbFexpoCruzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UL53AHL;initial catalog=dbContactCenter;user id=sa;password=admin1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ImagenesDir" value="D:\Yaigo\ImagenesVirtuales\ContactCenter" />
    <add key="ImagenesDirVirtual" value="http://localhost:81/ContactCenter.Recursos/" />
    <add key="UrlRedirectEvento" value="http://localhost:81/ContactCenter/Evento" />
    <add key="CertAppleURL" value="D:\Yaigo\Log\Yaigo2021.p12" />
    <add key="CertApplePass" value="Yaigo2021" />
    <add key="ApplePushProduccion" value="true" />
    <add key="GCMKeyCliente" value="AIzaSyCZljyrs-62yi1Rh-KEuwqalT-Z6N3TKoE" />
    <add key="GCMKeyEmpresa" value="AIzaSyCkp1eoA5hbE57ljX6i9Dg3fermr65pBxg" />
    <add key="GCMKeyConductor" value="AIzaSyB2j6jFppryNJXYrCRVC-NxeiXWIRDrTIg" />
    <add key="AGHKeyIdCliente" value="102348763" />
    <add key="AGHKeyIdConductor" value="103054401" />
    <add key="AGHKeyIdComercio" value="103127659" />
    <add key="AGHKeySecretCliente" value="708178cddaac0740ad013c08db1bda33a29bce5d9d59ba293519c44cedf437f9" />
    <add key="AGHKeySecretConductor" value="16f715b60a2e9b024ef3601c69426cf445d56a6367223d9c75a5c8231e445bcf" />
    <add key="AGHKeySecretComercio" value="7f3ea311ce8d541705cadd344d72c6835f573338ce583b374eadabaf240d1067" />
    <add key="ApplePushProduccion" value="false" />
    <add key="SegundosReintento" value="30" />
    <add key="CantidadIntentos" value="2" />
    <add key="CantidadPorHilo" value="2" />
    <add key="LogServiceWrite" value="1" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="pathLog" value="D:\Yaigo\Log\" />
    <add key="fileLog" value="D:\Yaigo\Log\log.txt" />
    <add key="logHabilitado" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" executionTimeout="1600" requestLengthDiskThreshold="2147483647" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="Npgsql" />
      <add name="Npgsql Provider" invariant="Npgsql" description=".NET Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=4.0.10.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
</configuration>