@using Entidad;
@model EPermiso
@{
    if (Model != null)
    {
        <li data-idperm="@Model.PermisoId" data-checked="@Model.Activado">
            @Model.Nombre
            @{if (Model.PermisosHijos.Count > 0)
                {
                    <ul>
                        @{
                            foreach (var hijo in Model.PermisosHijos)
                            {
                                @Html.Partial("_ListadoPermisos", hijo)
                            }
                        }
                    </ul>
                            }
            }
        </li>

                            }

}
